- image_url = project.hero_image.attached? ? url_for(project.hero_image) : image_path('bg2.jpg')
- recent = project.new?
- featured = project.featured?
- figma = project.figma_prototype.length > 0 || project.figma_file.length > 0

.project-tile-wrapper
  = link_to project_path(project), class: "project-tile-link" do
    .project-tile
      .project-image{ style: "background-image: url(#{image_url});" }

      .project-chips.row
        .left.column
          - if recent
            %span.chip.new New
          - if featured
            %span.chip.featured Featured
        .right
          - if figma
            %span= tabler_icon("brand-figma")

      .project-overlay
        .project-type= project.type
        %h3.project-title= project.title

