<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :prep %><br>
    <%= f.text_field :prep %>
  </div>
  <div class="field">
    <%= f.label :cooking %><br>
    <%= f.text_field :cooking %>
  </div>
  <div class="field">
    <%= f.label :level, "Difficulty Level (Easy - Medium - Hard)" %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :serves	%><br>
    <%= f.text_field :serves %>
  </div>
  <div class="field">
    <%= f.label :tips %><br>
    <%= f.text_field :tips %>
  </div>
  <div class="field">
    <%= f.label :additional_info %><br>
    <%= f.text_field :additional_info %>
  </div>
  
  <div class="field">
    <%= f.label :meta_title %><br>
    <%= f.text_field :meta_title %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br>
    <%= f.text_area :meta_description %>
  </div>
  <div class="field">
    <%= f.label :meta_keywords %><br>
    <%= f.text_field :meta_keywords %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
