- meta :title => @recipe.meta_title,
	   :description => @recipe.meta_description,
       :keywords => @recipe.meta_keywords

.row
  .col-md-12.rel
    - if user_signed_in?
      .recipe-controls
        .btn.btn-mini.btn-danger.control2#text
          = link_to 'delete', recipe_path(@recipe), method: :delete, confirm: 'Are you sure you want to delete this recipe??'
        .btn.btn-mini.btn-warning.control3#text
          = link_to 'edit', edit_recipe_path(@recipe)

.row
  .col-md-12.recipe_info  
    .col-md-3#pictureBox
      - if File.exist? "#{Rails.public_path}/assets/recipes/#{@recipe.name.parameterize}.jpg"
        = image_tag "/assets/recipes/#{@recipe.name.parameterize}.jpg"
      - else
        = image_tag "/assets/recipes/no-image2.png"
    .col-md-9.recipe_details
      .col-md-12.recipe-title
        .pull-left= @recipe.name
		
      .col-md-3.col-sm-6.recipe-stat.nml
        .col-md-4.col-sm-6.recipe-icon.np
          .Ricon= fa_icon "clock-o"        
        .col-md-8.col-sm-6.recipe-stat-value.np
          %h5 Prep Time:
          = @recipe.prep
		  
      .col-md-3.col-sm-6.recipe-stat.nml
        .col-md-4.col-sm-6.recipe-icon.np
          .Ricon= fa_icon "clock-o"        
        .col-md-8.col-sm-6.recipe-stat-value.np
          %h5 Cooking Time:
          = @recipe.cooking
		  
      .col-md-3.col-sm-6.recipe-stat.nml
        .col-md-4.col-sm-6.recipe-icon.np
          .Ricon= fa_icon "signal"        
        .col-md-8.col-sm-6.recipe-stat-value
          %h5 Difficulty:
          = @recipe.level
		  
      .col-md-3.col-sm-6.recipe-stat.nml
        .col-md-4.col-sm-6.recipe-icon.np	
          .Ricon= fa_icon "users"        
        .col-md-8.col-sm-6.recipe-stat-value
          %h5 Serves:
          = @recipe.serves
      %br
      .col-md-12#recipe-description.nml
        %h5 Description:
        = @recipe.description
      
.row    
  .col-md-12
    .col-md-3#ingredients
      %h3 Ingredients:
      - (@recipe.ingredients.split(',')).each do |item|
        = item
        %br
      
    .col-md-8#instructions
      %h3 Instructions:
      - (@recipe.instructions.split('-')).each_with_index do |instr, i|
        - if (i != 0)
          = "#{i}  #{instr}"
          %br

  #Comms
    //= render 'comments', recipe: @recipe
  
%p
