- if flash[:success]
.success-message
    %h2.send-message-title Message Sent
    %p= flash[:success]
    %p Typical response time. Within 24 hours. 
- else
%h2.send-message-title Send a message

= form_with url: contact_submit_path, method: :post, local: true, html: { class: 'contact-form' } do |f|
    .form-group
    .label-group
        = f.label :name
        %b *
    = f.text_field :name, placeholder: "Your full name", required: true

    .form-group
    .label-group
        = f.label :email
        %b *
    = f.email_field :email, placeholder: "your.email@example.com"

    .form-group
    .label-group
        = f.label :subject
        %b *
    = f.text_field :subject, placeholder: "What's this about?"

    .form-group
    .label-group
        = f.label :message
        %b *
    = f.text_area :message, rows: 5, placeholder: "What would you like to ask or say to me?"

    = f.submit "Send", class: "btn btn--primary btn--medium"