

.admin_projects_actions
  %h1 All Projects
  = render 'components/button', text: "New Project", variant: 'primary', url: new_admin_project_path

.section.projects
  .all-projects
    - @projects.each do |project|
      .row
        = render partial: "components/project_tile", locals: { project: project, admin: true }
        .tile-admin-container
          %span
            %p Views
            .views= project.views.count
          .row.tile-admin-controls
            = render 'components/button', text: "View", variant: 'primary', url: project_path(project)
            = render 'components/button', text: "Edit", variant: 'secondary', url: edit_admin_project_path(project)

            = button_to 'Delete', admin_project_path(project), method: :delete, class: "btn btn--danger btn--medium"



      