.section-hero.contact-hero
  .hero-container
    .hero-text.column 
      %h1 Lets Talk
      %p I'd love to hear about your ideas and discuss how we can bring your next project to life. 


.section
  .contact-grid
    /-- Left Column --
    .contact-left
      %h2.get-in-touch-title Get in touch
      %p.get-in-touch-description
        I'm always open to new opportunities, collaborations, or just a friendly hello. Weather you're looking to collborate on a new project, need design consultation. I'm always excited to connect with fellow creators and innovators.


      /-- Availability Box --favicon/
      .availability-box
        %h3 Current Availability
        %p I'm currently available for new opportunities and collaborations. If you would like to work together please reach out.
        %div.row
          %i.circle 
          Available for new projects

    /-- Right Column --
    .contact-right.column
      /-- Contact Info Boxes --
      .contact-box
        .icon-circle 
          = tabler_icon("mail")
        .contact-info
          %strong Email
          %p anthony@anfinity.co.uk

      .contact-box
        .icon-circle
          = tabler_icon("map-pin")
        .contact-info
          %strong Location
          %p Derry City, Northern Ireland

      .contact-box
        .icon-circle 
          = tabler_icon("brand-linkedin")
        .contact-info
          %strong LinkedIn
          %p= link_to "linkedin.com/in/anthony-mclaughlin-67b63128", "https://www.linkedin.com/in/anthony-mclaughlin-67b63128", target: '_blank', rel: 'noopener'


.section
  %span.line


.section.faq-section
  %h2.faq-title Frequently Asked Questions

  .faq-grid
    - @faqs.each do |faq|
      .faq-card
        %h3.faq-question= faq[:question]
        %p.faq-answer= faq[:answer]



/ Footer Section
= render "partials/footer"