%br= "Portfolio index layout"
%br= "Portfolio Show layout"
%br= "About page layout"
%br= "recipes index layout"
%br= "recipes show layout"
%br= "posts list styling"
%br= "post show styling"
%br= "contact page layout"
%br= "Mobile Styling"
%br= "Tablet Styling"
%br= "active admin gem"
%br= "Home page - show all with filter?"
%br= "heroku deployment"
%br= "S3 storage"
%br= "Migration data?"
%br= "domain name transfer and testing"
%br= "rspec testing?"

