- meta :title => "Anfinity",
     :description => "A site portfolio",
     :keywords => %w(keyword1 keyword2 keyword3)

#test-logo
  = link_to projects_path do
    = image_tag('logo.png')
    %br= "anfinity"

    .cs= "This site is currently under construction."
    .cs= "But why not click here and see whats currently being worked on"