#test-logo
  = link_to projects_path do
    = image_tag('logo.png')
    %br= "anfinity"

    %br
    %br
    %br
    %br
    .cs= "This site is currently under construction."
    %br
    .cs= "But why not click here and see whats currently being worked on"