- meta :title => @project.meta_title,
	   :description => @project.meta_description,
       :keywords => @project.meta_keywords


.title_banner


.portfolio-title= @project.name

.row
  %p#notice= notice

.row#portfolio-content
  #portfolio-sidebar.col-md-8
    %table
      - if cat(@project) == "Web Design"
        %tr
          %th= "Customer"
        %tr
          %td= @project.customer
      - if @project.name != "Final Year Project"
        %tr
          %th= "Site Link"
        %tr
          %td= link_to @project.site_link, url_with_protocol(@project.site_link), target: '_blank'
      %tr
        %th= "Overview"
      %tr
        %td= @project.description
      - if cat(@project) == "Web Design" || cat(@project) == "University Project"
        %tr
          %th= "Features"
        %tr
          %td= @project.features
      %tr
        %th= "Technologies"
      %tr
        %td= @project.tech
      %tr
        %th= "Duration"
      %tr
        %td= @project.duration

    - if user_signed_in?
      = link_to 'Edit', edit_project_path(@project)
      |
      = link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }
      |
      = link_to 'Back', projects_path


  #portfolio-show.col-md-8
    = render "#{@project.feature_image.to_s}" rescue render 'comingsoon'


