

- image_url = @project.hero_image ? url_for(@project.hero_image) : image_path('bg2.jpg')

.section-hero-portfolio{ style: "background-image: url(#{image_url});" }
  .hero-overlay
    .back-link
      = link_to projects_path do
        %span.arrow â†
        Back to Portfolio

    .project-title.row
      .hero-text
        %h1.page-title= @project.title
        %p= @project.description

      .cta-buttons.row
        - if @project.figma_file.length > 0
          = render 'components/button', text: "Figma file", icon: 'brand-figma', variant: 'secondary', url: @project.figma_file, html_options: {target: '_blank', rel: 'noopener'}
        - if @project.figma_prototype.length > 0
          = render 'components/button', text: "Prototype", icon: 'player-play', variant: 'tertiary', url: @project.figma_prototype, html_options: {target: '_blank', rel: 'noopener'}


- @project_details.each do |title, content|
  .section{ class: title }
    - if content['title']
      %h2= content['title']
    
    .layout{ class: "#{join_with_spaces(content['classes'])}"}
      - content['blocks'].each do |block|
        = render "components/blocks/#{block['type']}", block: block

= render 'partials/sections/cta_actions'

= render "partials/footer"