= form_for @todo do |f|
  - if @todo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo.errors.count, "error")} prohibited this todo from being saved:"
      %ul
        - @todo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :kind, "Type"
    = f.select :kind, TOPIC_KINDS
  .field
    = f.label :location
    = f.select :location, LOCATIONS
  .field
    = f.label :status
    = f.select :status, TODO_STATUS
  .field
    = f.label :due
    = f.date_select :due
  .actions
    = f.submit 'Save'
