- if user_signed_in?
  .btn.btn-primary= link_to 'New', new_post_path
  - if params[:id]
    .btn.btn-warning= link_to 'Edit', edit_post_path
    .btn.btn-danger= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } 
#recent
  - if @recent
    %h4.section-title= "Recent Posts:"
    - @recent.each do |p|
      .titles= link_to p.title, post_path(p) 
	  
#Archive
  - if @archive      
    %h4.section-title= "Archive:"
    - @archive.each do |year, monthname|
      %h5.year= link_to year, post_year_path( year: year )
      - monthname.each do |m|
        .month
          = link_to post_month_path( year: year, month: month_convert("#{m[0]}") ) do
            .col-md-5.post-month= m[0]
            .col-md-3.post-count= m[1].count             			

#Categories.hide
  - if @cats
    %h4.section-title= "Categories:"
    .row
      - @cats.each do |c|
        .col-md-12= link_to c.name, post_cat_path(c.id)

#Topics
  - if @tops
    %h4.section-title= "Topics:"
    .row
      - @tops.each do |t|
        .col-md-12= link_to t.name, post_top_path(t.id)
		

#Tags
  - if @tags
    %h4.section-title= "Tags:"
    - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
      = link_to tag.name, post_tag_path(tag.name), :class => css_class