- meta :title => "Anfinity.co.uk | Blog",
	   :description => "Anfinity Blog - Find out what i'm working on and what i'm currently interested in. ",
       :keywords => %w(Anfinity Anthony-McLaughlin Cookbook recipes about blog anthony mclaughlin portfolio projects anthony's web design development User Interface design UI UX Ruby ROR Rails Wordpress opencart hire CMS posts)

.row
  #posts-area.col-md-10
    - @posts.each do |post|
      .post
        .row.nml
          = render 'post_info', content: post
          .post-content.col-md-9
            - if user_signed_in?
              .post_status.alert{class: "#{post.status == 'Draft' ? 'alert-info' : 'alert-success'}"}= post.status
            .title= post.title
            .content= truncate(post.content, length: 900, escape: false)
            %br
            .right.btn.btn-primary.post-btn= link_to 'Read...', post

	  
  #additional-posts.col-md-2
    = render "side_bar"

  #paging= will_paginate @posts 