- meta :title => @post.meta_title,
	   :description => @post.meta_description,
       :keywords => @post.meta_keywords


.row
  #posts-area.col-md-10
    .post
      .row.nml
        = render 'post_info', content: @post
        .post-content.col-md-9
          - if user_signed_in?
            .post_status.alert{class: "#{@post.status == 'Draft' ? 'alert-info' : 'alert-success'}"}= @post.status
          .title= @post.title
          .content= markdown(@post.content)
          .title
          = "Last Updated On: #{@post.updated_at.strftime("%eth %B %Y")}"
	  
  #additional-posts.col-md-2
    = render "side_bar"