
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Anfinity"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'favicon/favicon.ico'
    %link{ rel: "icon", type: "image/png", sizes: "32x32", href: image_path("favicon/favicon-32x32.png") }
    %link{ rel: "icon", type: "image/png", sizes: "16x16", href: image_path("favicon/favicon-16x16.png") }
    %link{ rel: "apple-touch-icon", sizes: "180x180", href: image_path("favicon/apple-touch-icon.png") }
    %link{ rel: "icon", type: "image/png", sizes: "192x192", href: image_path("favicon/android-chrome-192x192.png") }
    %link{ rel: "icon", type: "image/png", sizes: "512x512", href: image_path("favicon/android-chrome-512x512.png") }
    %link{ rel: "manifest", href: image_path("favicon/site.webmanifest") }

    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = javascript_importmap_tags

  - if Rails.env.production?
    / Google tag (gtag.js)
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=G-8C5LQWY97S"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8C5LQWY97S');

  %body{ class: "#{body_class}" }
    = render "partials/navbar"
    .main-content
      %p.notice= notice
      %p.alert= alert
      = yield
