<!DOCTYPE html>
%html
  %head
    %title Anfinity!
    = stylesheet_link_tag("application", :media => "all")
    = javascript_include_tag("application")
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      = metamagic
      = favicon_link_tag 'favicon.ico'
  %body
    - if controller.action_name.to_s == "underconstruction"
      = yield
    - else
      .row
        .container
          #header.row
            .logo-box
              = image_tag('logo.png')
              .logo-text nfinty
            #beta-box
              = link_to post_path('gone-beta') do
                %span.c1 B
                %span.c2 E
                %span.c3 T
                %span.c4 A
            .hidden-xs= render 'layouts/nav'
            .visible-xs= render 'layouts/nav_mobile'
          %hr
            #portfolio
              .hide= render_breadcrumbs :separator => ' / '
              = yield
            %hr
              #footer .. and beyond
              = render 'layouts/footer'